<div class="nav-links">
  <div>
    <img src="/images/logo/logo_4.png" alt="logo">
  </div>
  <nav>
    <li><a href="/user/home">Home</a></li>
    <li><a href="/user/checkout">Checkout</a></li>
    <li class="cart"><a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
  </nav>
</div>